<!DOCTYPE html>
<html lang="en">
<head>
    <title>Next-Level Leadership Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet'
          href='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.css'>
    <link rel='stylesheet'
          href='https:////cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/accessible-slick-theme.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/c7e593ee29.js" crossorigin="anonymous"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <br>
            <a class="navbar-brand" href="/">
                <img src="../static/img/others/UB.png" alt="UB Logo" style="height: 50px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/game">Game</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <!-- <li class="active"><a href="/index">Leaderboard</a></li> -->
            </ul>

        </div>
    </div>
</nav>


<!-- Main Content -->


<section class="container-fluid sec-3">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-6">
                <h6>Welcome to </h6>
                <h1>The Next Level Leadership Conference!</h1>
                <p>Here you will find motivated and inspiring mentors who will help you hone your leadership skills. Get
                    ready to make connections, learn new things, and take your leadership to the next level!</p>
            </div>
            <div class="col-sm-6">
                <img src="assets/img/others/image1.svg" class="main-img img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid sec4">
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12">

                <div id="middleHero">

                    <h2 class="mentorTitle" id="mentorTitle">
                        Our Mentors</h2>
                    <div class="row" id="mentors">

                        <div class="card-slider"></div>
                    </div>
                    <div style="clear: both; padding-bottom: 40px; "></div>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="container-fluid sec5">
    <div class="container">
        <div class="row clearfix">
            <h2>Today's Schedule</h2>
            <div class="col-sm-7 tabsss ">

                <div class="col-sm 12 np">

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab1')" id="defaultOpen">8:30AM - 9:00AM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab2')">9:00AM - 9:10AM</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab3')">9:15AM - 9:30AM</button>
                    </div>
                </div>

                <div class="col-sm 12 np">
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab4')">9:30AM - 10:00AM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab5')">10:10AM - 11:40AM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab6')">11:40AM - 11:50PM</button>
                    </div>
                </div>

                <div class="col-sm 12 np">
                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab7')">11:50AM - 01:25PM</button>
                    </div>

                    <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab8')">01:30PM - 2:00PM</button>
                    </div>
                    
                    <!-- <div class="col-sm-4">
                        <button class="tablinks" onclick="openschedule(event, 'tab9')">1:15PM - 2:00PM</button>
                    </div> -->
                </div>

            </div>

            <div class="col-sm-5 contenti">
                <div id="tab1" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Student* Check-in 222 Student Union (SU)
                        <br>(*Students check in by 8:40 a.m. for BONUS tie-breaker points)
                    </p>
                </div>

                <div id="tab2" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">
                        Coffee and Networking Activity, Student Union 235</p>
                </div>

                <div id="tab3" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Welcome Student Union Theater</p>
                </div>

                <div id="tab4" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Game Begins Students SU Theater
                        <br>Mentor Orientation 235 SU</p>
                </div>
                <div id="tab5" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Speed Introductions 210 SU and Social Hall
                        <br>Rotation with 235 SU</p>
                </div>
                <div id="tab6" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Break outside 145 SU</p>
                </div>
                <div id="tab7" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Mentor Huddles and Lunch Student Union 145</p>
                </div>
                <div id="tab8" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Game Awards SU Theater</p>
                </div>
                <!-- <div id="tab9" class="tabcontent">
                    <p style="text-align: center; position:relative;top:40px;">Tie Breaker Kahoot and Game Prizes,
                        Student Union 145</p>
                </div> -->
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<section class="footer container">
    <div class=" clearfix">
        <div class="col-sm-12">
            <p>© 2025 Next-Level Leadership. All Rights Reserved.</p>
        </div>
    </div>
</section>


<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>

<script src='https://code.jquery.com/jquery-3.5.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@accessible360/accessible-slick@1.0.1/slick/slick.min.js'></script>
<script>
    $(document).ready(function () {
        var cards = [
            {
                name: 'Briana Tom', 
                img: 'static/img/mentors/Bree Tom.jpg',
                dsc: 'Sales Engineer, Harper International',
                linked: 'https://www.linkedin.com/in/brianatom/'
            },

            {
                name: 'Tommy Linares',
                img: 'static/img/mentors/Tommy Linares.PNG',
                dsc: 'Coordinator for Student Staff, Orientation, Transition and Parent Programs',
                linked: 'https://www.linkedin.com/in/tommylinares/'
            },

            {
                name: 'Craig Garner',
                img: 'static/img/mentors/Craig Garner.jpeg',
                dsc: 'Director of Operational Excellence, Ivoclar',
                linked: 'https://www.linkedin.com/in/craigjgarner'
            },

            {
                name: 'Annika Samuels',
                img: 'static/img/mentors/Annika Samuels.jpg',
                dsc: 'Director of Diversity and Inclusion, National Fuel Gas',
                linked: 'https://www.linkedin.com/in/annika-samuels-40034523/'
            },

            {
                name: 'Brenda Dysinger',
                img: 'static/img/mentors/Brenda Dysinger.JPG',
                dsc: 'Chief Human Resources Officer, Seneca Gaming Corporation',
                linked: 'https://www.linkedin.com/in/brenda-dysinger-ms-sphr-77863a9'
            },

            {
                name: 'Jessica Ellis',
                img: 'static/img/mentors/Jessica Ellis.jpg',
                dsc: 'Complex Director, Buffalo State University',
                linked: 'https://www.linkedin.com/in/jessica-ellis-563345252'
            },

            {
                name: 'Chelsea Montrois',
                img: 'static/img/mentors/Chelsea Montrois.jpg',
                dsc: 'Product Designer, Anthology',
                linked: 'https://www.linkedin.com/in/chelseamontrois/'
            },

            {
                name: 'Erin Belile',
                img: 'static/img/mentors/Erin Belile.jpg',
                dsc: 'School Counselor, Buffalo Public School District',
                linked: 'https://linkedin.com/in/erin-belile-77585176'
            },

            {
                name: 'Nicole Bycina',
                img: 'static/img/mentors/Nicole Bycina.png',
                dsc: 'Social Entrepreneur, Buffalo Public Schools',
                linked: 'https://www.linkedin.com/in/aspiringleaders'
            },

            {
                name: 'Heather Gresham',
                img: 'static/img/mentors/Heather Gresham.JPG',
                dsc: 'Counsel & VP of People & Culture, RepresentUs',
                linked: 'https://www.linkedin.com/in/heather-gresham-esq-sphr-shrm-scp/'
            },

            {
                name: 'Denise Herkey Jarosch',
                img: 'static/img/mentors/Denise Herkey Jarosch.jpeg',
                dsc: 'Development Administrator, Buffalo Prenatal Perinatal Network (BPPN)',
                linked: 'https://www.linkedin.com/in/denise-herkey-jarosch-126ab71/'
            },

            {
                name: 'Ashley Cannon-Zelasko',
                img: 'static/img/mentors/Ashley Cannon-Zelasko.jpeg',
                dsc: 'Associate Director of Advancement for Student Life, University at Buffalo',
                linked: 'https://www.linkedin.com/in/ashley-cannon-zelasko-527a9a143'
            },

            {
                name: 'Javeena Edwards',
                img: 'static/img/mentors/Javeena Edwards.jpeg',
                dsc: 'CFO, Girl Scouts of WNY',
                linked: 'https://linkedin.com/in/javeena-a-edwards-mba-85a6637a'
            },

            {
                name: 'Ed Brodka',
                img: 'static/img/mentors/Ed Brodka.jpg',
                dsc: 'Career Design Consultant, UB Career Design Center',
                linked: 'https://www.linkedin.com/in/edbrodka/'
            },

            {
                name: 'Mahima Frescas',
                img: 'static/img/mentors/Mahima Frescas.jpeg',
                dsc: 'Program manager, Alkegen',
                linked: 'https://www.linkedin.com/in/frescasmahima'
            },


            {
                name: 'Shannon Myers',
                img: 'static/img/mentors/Shannon Myers.jpg',
                dsc: 'Student Services Advisor, University at Buffalo',
                linked: 'https://www.linkedin.com/in/shannon-m-myers/'
            },

            {
                name: 'Samantha Sowah',
                img: 'static/img/mentors/Samantha Sowah.jpeg',
                dsc: 'Sr Staff Program Manager, Thermo Fisher Scientific',
                linked: 'https://www.linkedin.com/in/samantha-sowah-pmi-acp-a0548450/'
            },

            {
                name: 'Chris Krueger',
                img: 'static/img/mentors/Chris Krueger.jpeg',
                dsc: 'High Growth Manager, Odoo',
                linked: 'https://www.linkedin.com/in/chriskruegervb/'
            },

            {
                name: 'A.J. Franklin',
                img: 'static/img/mentors/AJ Franklin.jpg',
                dsc: 'Admissions Counselor, University at Buffalo',
                linked: 'https://www.linkedin.com/in/a-j-franklin/'
            },

            {
                name: 'Shaina Potash',
                img: 'static/img/mentors/Shaina Potash.jpg',
                dsc: 'Leadership House Mentor, Student engagement/campus living',
                linked: 'https://www.linkedin.com/in/shaina-potash-59a730291/'
            },

            {
                name: 'Zoey Maggiore',
                img: 'static/img/mentors/Zoey Maggiore.png',
                dsc: 'Marketing Production Coordinator, Hodgson Russ LLP',
                linked: 'https://www.linkedin.com/in/zoeymaggiore/'
            },

            {
                name: 'Anthony Billoni',
                img: 'static/img/mentors/Anthony Billoni.jpeg',
                dsc: 'Owner, APEX Leader Growth LLC',
                linked: 'https://www.linkedin.com/in/abilloni/'
            },

            {
                name: 'Sara Emhof',
                img: 'static/img/mentors/Sara Emhof.jpg',
                dsc: 'Executive Director and Leadership Coach, Be Your Own Hero',
                linked: 'https://www.linkedin.com/in/saraemhof/'
            },

            {
                name: 'Thomas Weimer',
                img: 'static/img/mentors/Thomas Weimer.jpeg',
                dsc: 'Talent & Organizational Development Consultant, Five Star Bank',
                linked: 'https://www.linkedin.com/in/thomasrweimer'
            },

            {
                name: 'Rob Hengesbach',
                img: 'static/img/mentors/Robert Hengesbach.jpg',
                dsc: 'Academic Advisor, University at Buffalo Office of Educator Preparation',
                linked: 'https://www.linkedin.com/in/roberthengesbach/'
            },

            {
                name: 'Michael Seils',
                img: 'static/img/mentors/Michael Seils.jpg',
                dsc: 'Clinical Assistant Professor, University at Buffalo Rehabilitation Science',
                linked: 'https://www.linkedin.com/in/michaelseils'
            },

            {
                name: 'Matthew Spector',
                img: 'static/img/mentors/Matthew Spector.jpeg',
                dsc: 'Integration Developer, LeapPoint',
                linked: 'https://www.linkedin.com/in/matthew-spector'
            },

            {
                name: 'Theresa Roma',
                img: 'static/img/mentors/Theresa Roma.jpg',
                dsc: 'Head of Insurance Solutions, Wellthy',
                linked: 'https://www.linkedin.com/in/theresaroma?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app'
            },

            {
                name: 'Jasmine Foster',
                img: 'static/img/mentors/Jasmine Foster.jpg',
                dsc: 'Program and Marketing Manager, Leadership Buffalo',
                linked: 'https://www.linkedin.com/in/jasminenfoster/'
            },

            {
                name: 'Paris Wicker',
                img: 'static/img/mentors/Paris Wicker.png',
                dsc: 'Assistant Professor of Higher Education, University at Buffalo (Graduate School of Education)',
                linked: 'https://www.linkedin.com/in/pariswicker/'
            },

            {
                name: 'Valerie Bevan',
                img: 'static/img/mentors/valerie bevan.jpeg',
                dsc: 'Data Engineer, IBM Consulting',
                linked: 'https://www.linkedin.com/in/valerie-bevan-317897195/'
            },

            {
                name: 'Nate Mark',
                img: 'static/img/mentors/Nate Mark.jpg',
                dsc: 'Leadership House Lead Professional Development Peer Mentor, Student Engagement',
                linked: 'https://www.linkedin.com/in/nathanielmark/'
            },

            {
                name: 'Nazmus Saquib',
                img: 'static/img/mentors/Nazmus Saquib.jpg',
                dsc: 'Graduate Coordinator, Student Engagement, University at Buffalo',
                linked: 'https://www.linkedin.com/in/nazmus-saquib-bd/'
            },

            {
                name: 'Daniela Goya-Tocchetto',
                img: 'static/img/mentors/Daniela Goya-Tocchetto.jpg',
                dsc: 'Assistant Professor, University at Buffalo',
                linked: ''
            },

            {
                name: 'Drew Burdette',
                img: 'static/img/mentors/Drew Burdette.PNG',
                dsc: 'President of the National Society of Black Engineers | Former Solutions Architect at Amazon, Computer Science Student at University at Buffalo',
                linked: 'https://www.linkedin.com/in/andrew-burdette/'
            },

            {
                name: 'Luis Galarza',
                img: 'static/img/mentors/Luis Galarza.jpeg',
                dsc: 'Student, University at Buffalo',
                linked: 'https://www.linkedin.com/in/luisgala?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app'
            },

            {
                name: 'Marley Nembhard',
                img: 'static/img/mentors/Marley Nembhard.jpg',
                dsc: 'Secretary of Delta Epsilon Chapter of Alpha Phi Alpha Fraternity Inc., University at Buffalo',
                linked: 'https://www.linkedin.com/in/marley-nembhard-40a416242/'
            },

            {
                name: 'Asantewa Holley',
                img: 'static/img/mentors/Asantewa K Holley.jpg',
                dsc: 'VP Operations, Northland Workforce Training Center',
                linked: 'https://www.linkedin.com/in/asantewa-holley-mba-856b33124'
            },

            {
                name: 'Thomas Farry',
                img: 'static/img/mentors/Thomas Farry.JPEG',
                dsc: 'Teacher & Marching Instructor, West Seneca Central Schools and UB Athletic Bands',
                linked: ''
            },

            {
                name: 'Mark Stramaglia',
                img: 'static/img/mentors/Mark J Stramaglia.jpg',
                dsc: "Principle and CEO, Let's Get Started Consultancy",
                linked: 'https://www.linkedin.com/in/mark-stramaglia-1745172/'
            },

            {
                name: 'Tracey Drury',
                img: 'static/img/mentors/Tracey Drury.png',
                dsc: 'Senior reporter, Buffalo Business First',
                linked: 'https://www.linkedin.com/in/tracey-drury/'
            },

            {
                name: 'Brittany Tranello',
                img: 'static/img/mentors/Brittany Tranello.jpg',
                dsc: 'Executive Director, Erie Niagara Area Health Education Center (ENAHEC)',
                linked: 'https://www.linkedin.com/in/brittany-r-mitchell/'
            },

            {
                name: 'Joseph Hitchcock',
                img: 'static/img/mentors/Joseph Hitchcock.JPG',
                dsc: 'Career and Academic Planning Advisor, First-Year Advisor, St. John Fisher University',
                linked: 'https://www.linkedin.com/in/jjhitchc/'
            },

            {
                name: 'Jennifer Schulefand',
                img: 'static/img/mentors/Jennifer Schulefand.jpg',
                dsc: 'Fractional CFO, Jennifer Schulefand Consulting LLC',
                linked: 'https://linkedin.com/in/jenniferschulefand'
            },

            {
                name: 'Sonya Tareke',
                img: 'static/img/mentors/Sonya Tareke.jpeg',
                dsc: 'Sr. Program Manager, The Exchange @ Beverly Gray',
                linked: 'https://www.linkedin.com/in/stareke/'
            },

            {
                name: 'Salman Ahmed',
                img: 'static/img/mentors/Salman Ahmed.jpg',
                dsc: 'Branch Manager, Assistant Vice President., M&T Bank',
                linked: 'https://www.linkedin.com/in/salmanah'
            },

            {
                name: 'Beth Bivona',
                img: 'static/img/mentors/Beth Ann Bivona.jpg',
                dsc: 'Senior Vice President and Associate General Counsel, M&T Bank',
                linked: 'https://www.linkedin.com/in/bivona/'
            },

            {
                name: 'Latoya Gonzales',
                img: 'static/img/mentors/Latoya Gonzales.jpg',
                dsc: 'Cybersecurity Strategy Product Owner, M&T Bank',
                linked: 'https://www.linkedin.com/in/latoya-gonzales/'
            },

            {
                name: 'Carmen DeAngelo',
                img: 'static/img/mentors/Carmen DeAngelo.PNG',
                dsc: 'Teacher, Charter School for Applied technologies',
                linked: 'https://www.linkedin.com/in/carmen-deangelo-387072313/'
            },

            {
                name: 'Tiffany Lambert-Winfrey',
                img: 'static/img/mentors/Tiffany Lambert-Winfrey.jpg',
                dsc: 'Customer Identification Program, M&T Bank',
                linked: 'https://www.linkedin.com/in/tiffany-lambert-winfrey-4857b030/'
            },

            {
                name: 'Michael Pease',
                img: 'static/img/mentors/Michael Pease.png',
                dsc: 'CEO, The Chautauqua Center',
                linked: 'https://www.linkedin.com/in/michael-pease-826a2212/'
            },

            {
                name: 'Aiona Lawrence',
                img: 'static/img/mentors/Aiona Lawrence.jpeg',
                dsc: 'Fin Solutions Analyst, Citi',
                linked: 'https://www.linkedin.com/in/aiona-lawrence/'
            }
        ];
        cards.forEach(function (t, i) {
            var cardhtml = `<div class="card">
    <h2 class="title">${
                t.name
            }</h2>

    <div class="image">
      <img src="${
                t.img
            }" alt="${
                t.dsc
            }">
    </div>
  <p class="description">${
                t.dsc
            }</p>
    <div class="button-28-div">
        <button onclick="window.location.href='${
                t.linked
            }'" class = "button-28" role = "button">Connect</button>
    </div>
                       


</div>`
            $('.card-slider').append(cardhtml)
        })
        $('.card-slider').slick({
            dots: false,
            arrows: true,
            slidesToShow: 5,
            infinite: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });

    function openschedule(evt, cityName) {
        var i,
            tabcontent,
            tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
</body>
</html>
